<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head> <h1>About Us</h1>

<body>

  
<img src="https://www.facebook.com/share/6rUcJr9k4R5VaLp1/?mibextid=WC7FNe">
<h5>Earl Lewis works at University of Richmond as a Technical Support Consultant and lives in Virginia.</h5><br>
<h5>Zachary Dallas works at Merieux Nutrisciences as a Food Analyst and lives in Florida</h5><br>
<h5>Robert Williard works at InterChange Group as a Financial Anayst and Virginia.</h5><br>
<h5>Amber Venes is currently a student from Alaska and loves the outdoors.</h5><br>
</body>


</html>