<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokemon Machine Learning</title>
    <!-- Boostrap -->
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css"> -->
   <script src="https://unpkg.com/nes.css/css/nes.css"></script>
   <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
   <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet">
    <!-- Our CSS -->
    <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/main.css">

</head>

<body>
    <header class> 
        <div class="container">
        <div class="nav-brand">
            <a href="https://github.com/MoonSplosion/project-4-group-13">
                <h1>
                    <i class="github-link"></i>
                </h1>
                
            </a>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#"></a>

    
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Pokemon Catching
                    <span class="sr-only">(current)</span>
                  </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a class="nav" href="/about_us">About Us</a>&nbsp;
        <a class="nav" href="/ml">Machine Learning</a>&nbsp;
        <a class="nav" href="/tableau">Tableau</a>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="output"></h1>
                </div>
            </div>
        </div>
        </div>

    </header>
    

<div class="index-text">
    <h1>
        Welcome to our Page!
    </h1>
</div>

</body>

</html>

    